<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" href="navbar_style.css">
        <style>
            .cart{
                width: 10%;
                height: 25%;
                margin: auto;
                margin-top: 100px;
                text-align: left;
            }
        </style>
    </head>
    <body style="text-align: center;">

        <h2> AUBG Gaming </h2>

        <div class="navbar">
            <div class="nav_option">
                <a href="/">            Homepage    </a>
            </div>
            <div class="nav_option">
                <a href="/products">    Products    </a>
            </div>
            <div class="nav_option">
                <a href="/login">       Login       </a>
            </div>
            <div class="nav_option">
                <a href="/register">    Register    </a>
            </div>
            <div class="nav_option">
                <a href="/cart">        Cart        </a>
            </div>
        </div>

        <div class="cart">

            <table>
                <tr>
                    <th> Name       </th>
                    <th> Quantity   </th>
                </tr>
                {{range $k := .}}
                <tr>
                    <td> {{$k.Name}}       </td>
                    <td> {{$k.Quantity}}   </td>
                </tr>
                {{end}}
            </table>
           
        </div>
            
    </body>
</html>