<html>
    <head>
        <title>
            AUBG Gaming Homepage
        </title>
        <link rel="stylesheet" href="navbar_style.css">
    </head>
    <body style="text-align: center;">

        <h2> AUBG Gaming </h2>

        <div class="navbar">
            <div class="nav_option">
                <a href="/">            Homepage    </a>
            </div>
            <div class="nav_option">
                <a href="/products">    Products    </a>
            </div>
            <div class="nav_option">
                <a href="/login">       Login       </a>
            </div>
            <div class="nav_option">
                <a href="/register">    Register    </a>
            </div>
            <div class="nav_option">
                <a href="/cart">        Cart        </a>
            </div>
        </div>
            
    </body>
</html>