<html>
    <head>
        <title> Product Details </title>
        <link rel="stylesheet" href="navbar_style.css">
        <style>
            .item{
                width: 120px;
                height: 160px;
                margin: auto;
                margin-right: 50px;
                float: left;
                border: 2px solid black;
                border-radius: 10px;
            }
        </style>
    </head>
    <body style="text-align: center;">

        <h2>Details</h2>

        <div class="navbar">
            <div class="nav_option">
                <a href="/">            Homepage    </a>
            </div>
            <div class="nav_option">
                <a href="/products">    Products    </a>
            </div>
            <div class="nav_option">
                <a href="/login">       Login       </a>
            </div>
            <div class="nav_option">
                <a href="/register">    Register    </a>
            </div>
            <div class="nav_option">
                <a href="/cart">        Cart        </a>
            </div>
        </div>

        <div style="margin-top: 50px;">
            <div style="display: inline-block;">
            {{$k := .}}
                <p class="item">
                    Name: {{$k.Name}}                               <br>
                    Price: {{$k.Price}}                             <br>
                    {{if (eq $k.Category "game")}}
                        Genre: {{$k.Genre.String}}                  <br>
                        Release Date: {{$k.ReleaseDate.String}}     <br>
                    {{end}} 
                    {{if (eq $k.Category "hardware")}}
                        Features: {{$k.Features.String}}            <br>
                    {{end}} 
                    {{if (eq $k.Category "service")}}
                        Type of Service: {{$k.ServiceType.String}}  <br>
                    {{end}}

                    <form method="post" action="/cart/{{$k.Id}}">
                        <input type="submit" value="Add to Cart">   <br>
                    </form>
                </p>
            </div>
        </div>     

    </body>
</html>